<div class="predictor">
  <div class="inputField">
    <input type="text" name="" value="" placeholder="Enter stock here" #symbol>
    <button type="button" name="button" (click)="getPrice(symbol.value)">
      Search
    </button>
  </div>
  <div class="resultTable" id="tb">
    <table>
      <tr *ngIf="this.currentPriceData !== undefined ">
        <td>{{this.currentPriceData.symbol}}</td>
        <td *ngFor="let p of this.currentPriceData.price.split(',')">{{p}}</td>
      </tr>
    </table>
  </div>
</div>
